xlogs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/services/openai.ts

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Application properties with sensitive data ###
src/main/resources/application-local.properties
src/main/resources/application-local.properties

.vercel

# Cursor IDE
.cursor/

# Gradle
.gradle/

# Maven
.m2/

# System files
.lesshst
.redhat/
AndroidStudioProjects/
AppData/
Documents/
Downloads/
OneDrive/
anaconda3/
ntuser.dat*
*.log
hs_err_pid*.log
replay_pid*.log
